<header>
    <h1>STAR WARS TRIVIA</h1>
</header>
{{#each character}}
<div class="container d-flex justify-content-center align-items-center">
    
    <form action="/character/{{character.id}}" method="get" class="align-items-center">
        
        <div class="container ">
        <img src="{{this.img}}" alt="" width="800">
        </div>
        <label for="name"></label>
        <input type="text" name="name" id="name" class="form-control" style="width: 400px;" placeholder="Guess The Character">
        <input type="submit" name="submit" id="submit" class="btn btn-primary">
    </form>

</div>
{{/each}}