<header>
    <h1>STAR WARS TRIVIA</h1>
</header>
{{#each character}}
<div class="container">
    <div>
        <h2>Welcome!</h2>
        <p>This is a Star Wars trivia game featuring some of your favorite characters. Take a guess at the name of each character that appears to win!</p>
    </div>

    <a href="/character"></a>
</div>
{{/each}}