{{!-- {{#each character}} --}}
<div class="container d-inline-flexbox">
    <div>
        <h2>Welcome!</h2>
        <p>This is a Star Wars trivia game featuring some of your favorite characters. Take a guess at the name of each character that appears to win!</p>
    </div>

    <a href="/character" class="btn btn-primary">Start game</a>
</div>
{{!-- {{/each}} --}}