{{!-- {{#each character}} --}}
<div class="container">
    
    <div>
        <h2>You Win!</h2>
    </div>

    <a href="/character/youwin" class="btn btn-primary">Start Over</a>
</div>
{{!-- {{/each}} --}}